<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .field {
            width: 180px;
        }
    </style>
    <title>AddUser</title>
</head>

<body>
    <h1>AddUser</h1>
    <form method="POST">
        <label>Name</label><br>
        <input name="name" class="field" /><br><br>

        <label>Tecnology</label><br>
        <input name="tecnology" class="field" /><br><br>

        <label>Position</label><br>
        <input name="position" class="field" /><br><br>

        <label>Emploed</label><br>
        <input name="employed" type="date" class="field" /><br><br>
        <input type="submit" value="Send">
    </form>
    <a href="/">To List</a>
</body>

</html>